.lang-jp {

  .cpt-tag-important,
  &.cpt-iv .cpt-skill {
    font-size: 11px;
  }

  .el-button-sp {
    word-break: break-all;
    white-space: normal;
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;
    line-height: 1.1;
  }

  .cpt-select-list--iland .cpt-select-list__item {
    width: 134px;
  }

  .cpt-select-list__name {
    font-size: 14px;
  }

  .cpt-select-list--berry {
    .cpt-select-list__name {
      font-size: 14px;
    }
  }

  .page-pokedex {
    .poke-tb__item .cpt-select-list__item {
      border-radius: 8px;
    }

    .cpt-select-list__name {
      font-size: 11px;
      padding-top: 3px;

      p {
        height: 14px;
        transform: scale(0.9);
        margin-left: -3px;
      }
    }
  }

  .cpt-pokemon {
    .berry {
      font-size: 10px;
    }
  }

  .cpt-friendship--max {
    line-height: 1;
    font-size: 10px;
    white-space: normal;
  }

  .page-sleepcalc {
    .act-random {
      margin-left: -40px;
    }
  }

  .page-helpcalc {
    .other-skill {
      .cpt-skill {
        height: 26px;
        padding: 2px 0;
        white-space: normal;
        line-height: 1;
      }
    }
  }
}