/**
 * 样式重置
 */
* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

img {
  border: 0 none;
  vertical-align: top;
  user-select: none;
  pointer-events: none;
}

i,
em {
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

input,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #666;
}

body {
  margin: 0 auto;
  // min-width:320px;
  // max-width:768px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  text-size-adjust: 100% !important;
  // user-select:none;
}

input[type="text"],
textarea {
  appearance: none;
}

// 运营活动页面需要
html {
  width: 100%;
  height: 100%;
}

/**
 * 状态类
 */
.hide {
  display: none !important;
}

@function vw($px) {
  @return ($px / 750) * 100vw;
}


img[lazy=loading] {
  background: url(data:image/gif;base64,R0lGODlhEgAPAJEDAFlZWQAAALKysv///yH/C05FVFNDQVBFMi4wAwEAAAAh+QQJAAADACwAAAAAEgAPAAACGpyPqcvtD6OctMYQJsZy5wFAHAiEgyBApqUUACH5BAkAAAMALAAAAAASAA8AAAIdnI+py+0Po0xhjoBttQaA6XlS+A0CJJrCObHcUgAAIfkECQAAAwAsAAAAABIADwAAAhqcj6nL7RPCm7QaYAfYGWcjCFYYVqRoot/6FAAh+QQJAAADACwAAAAAEgAPAAACFpyPqRfrvwCAtFolrhFcj+yF4kiWVAEAIfkECQAAAwAsAAAAABIADwAAAhKcj6kH6xucEK/ai7PevPsPcgUAIfkECQAAAwAsAAAAABIADwAAAhKcj6kn6wuenLSeYLPevPsPDgUAIfkECQAAAwAsAAAAABIADwAAAhGcj6nLbeKinBLQi7NuYfs/FQAh+QQJAAADACwAAAAAEgAPAAACEpyPqcvtD6McYtqLMwIahtBhBQAh+QQFAAADACwAAAAAEgAPAAACFZyPqcvtD6OctNqrhAs0eAMAEIclBQA7) no-repeat center center;
  background-size: 18px auto;
}


@import "./fonts/_import.fonts-ksr";

body,
button,
pre {
  font-family: KumbhSansRegular, PingFangSC, -apple-system, Helvetica, "Microsoft YaHei", Arial, sans-serif, "微软雅黑", "黑体", "宋体", Verdana;
}

pre {
  white-space: pre-line;
}

input[type=text],
input[type=password],
textarea {
  box-shadow: none;
  font-family: KumbhSansRegular, PingFangSC, -apple-system, Helvetica, "Microsoft YaHei", Arial, sans-serif, "微软雅黑", "黑体", "宋体", Verdana;
}

input[type=checkbox] {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #333;
  appearance: none;
  vertical-align: -1px;
  position: relative;
  border-radius: 0;

  &:checked {
    background: rgba(#333, 0.9);

    &:after {
      content: '';
      position: absolute;
      width: 7px;
      height: 3px;
      background: transparent;
      top: 2px;
      left: 2px;
      border: 2px solid #fcfff4;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
    }
  }
}

@import '_import.mixin.scss';


.msee {
  display: none !important;
}

@media screen and (max-width: 660px) {
  .msee {
    display: block !important;

    &--i {
      display: inline-block !important;
    }
  }

  .pcsee {
    display: none !important;
  }

  .hide {
    display: none !important;
  }
}

// 滚动条
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba($color: #fff, $alpha: .3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba($color: #000000, $alpha: .7);
}