.lang-jp {
  .cpt-select-list__name {
    font-size: 13px;
  }

  .cpt-select-list--berry {
    .cpt-select-list__name {
      font-size: 14px;
    }
  }

  .cpt-pokemon {
    .berry {
      font-size: 10px;
    }
  }
}