@import "./_import.reset.scss";
@import "./_import.mixin.scss";
@import "./_import.mod-nav.scss";
@import "./_import.mod-btn.scss";
@import "./_import.mod-select.scss";

body {
  color: #333;
  background: #f1f1f1 url(../img/ui/bg.png);
}

.select-lang {
  position: absolute;
  right: 3px;
  top: 2px;
}

.page-inner {
  padding: 0 8px;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);

  .el-form-item {
    margin-bottom: 12px;
  }

  .el-form-item__label {
    line-height: 1.2;
    padding-top: 10px;
    height: auto;
    min-height: 32px;
    text-align: right;
  }

  .radiogroup--primary {
    .el-radio-button__original-radio:checked+.el-radio-button__inner {
      color: #1c4f00;
      border-color: #4caf50;
      background-color: #abe8ae;
    }
  }

  .el-form-slider--bonus {
    display: flex;
    width: 100%;
    padding: 3px;
    border-radius: 6px;
  }

  .el-collapse {
    --el-collapse-header-height: 34px;
    &-item__header {
      background-color: rgba($color: var(--el-collapse-header-bg-color), $alpha: .2);
    }
    &-item__wrap {
      background: none;
    }
    &-item__content {
      line-height: 1.5;
      padding-bottom: 0;
    }
  }
}

.mb3 {
  margin-bottom: 3px;
}
.mt3 {
  margin-top: 3px;
}
.mr3 {
  margin-right: 3px;
}

.i {
  display: inline-block;
  vertical-align: middle;

  &-close {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(../img/ui/close.png) center center no-repeat;
    background-size: 80% 80%;
    border-radius: 100%;
    background-color: #fff;
  }

  &-sleeptype {
    border-radius: 18px;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    font-size: 12px;

    &--1 {
      background-color: lighten(#ffec6f, 12%);
      color: lighten(#795516, 12%);
    }

    &--2 {
      background-color: lighten(#85fbff, 12%);
      color: lighten(#166a7c, 12%);
    }

    &--3 {
      background-color: lighten(#4488fb, 12%);
      color: #fff;
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

h2 {
  font-size: 24px;
  padding-left: 16px;
  position: relative;
  color: $mainColor;
  margin-left: 5px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 6px;
    background: $mainColor
  }

  .extra {
    font-size: 11px;
    font-weight: normal;
  }
}

h3,
h4 {
  .extra {
    color: $primaryColor;
    font-size: 14px;
  }
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.page {
  &-item {
    display: none;

    &.cur {
      display: block;
    }
  }

  &-title {
    position: relative;

    h2 {
      line-height: 36px;
    }

    &__extra {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }
  }
}

.mod-tips {
  font-size: 12px;
  color: #9d9d9d;
  margin-top: 3px;
  line-height: 1.5;

  em {
    font-size: 12px;
    text-decoration: underline;
    color: $primaryColor;
  }
}

.cpt-tag {
  display: inline-block;
  vertical-align: middle;

  &-important {
    background-color: #ed556a;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
  }
}

.cpt-avatar {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.5px;
  font-size: 10px;
  text-align: center;
  color: lighten($color: $mainColor, $amount: 20%);

  &__pic {
    background-color: #f1f1f1;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid lighten($color: $mainColor, $amount: 20%);
    width: 24px;
    height: 24px;
  }
}

.cpt-select-list {
  font-size: 14px;
  line-height: 1;

  &__extra {
    font-size: 12px;
    opacity: .8;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #c3c3c3;
    border-radius: 30px;
    width: 110px;
    margin: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    color: #b7b7b7;
    white-space: nowrap;

    &:hover,
    &:active {
      color: #f1f1f1;
    }

    &.cur {
      border-color: $navColor;
      border-style: dashed;
      font-weight: bold;
      color: $mainColor;

      .cpt-select-list__name {
        opacity: 1;
        color: #f1f1f1;
        text-shadow: 1px 1px #333;
        background-color: rgba($color: #000000, $alpha: .1);
      }

      img {
        opacity: 1;
      }
    }
  }

  &__name {
    position: relative;
    z-index: 5;
    background-color: rgba($color: #000000, $alpha: .4);
    display: block;
    padding: 4px 0 2px;
    transition: 0.2s linear all;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    left: 0;
    bottom: -10px;
    opacity: .5;
  }

  .berry {
    border: none;
    min-height: 20px;
    line-height: 20px;
  }

  &--txt {
    line-height: 1.5;
    
    .cpt-select-list__item {
      font-size: 14px;
      width: 30%;
      min-width: 118px;
      
    }
  }

  &--berry {
    .cpt-select-list__item {
      width: 48px;
      font-size: 13px;
      border-radius: 16px;
      margin: 1px;
      color: #d0d0d0;
    }
  }

  &--txt,
  &--berry {
    .cpt-select-list__item {
      &.cur {
        .cpt-select-list__name {
          background: none;
        }
        background: linear-gradient(-45deg, #c1dfc4 0%, #deecdd 100%);
      }
    }
  }
}
.cpt-empty {
  padding: 20px 8px;
  text-align: center;
  font-size: 16px;
  color: #9d9d9d;
  margin-top: 3px;
  line-height: 1.5;
}
.cpt-friendship {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 4px;
  height: 15px;
  padding: 2px 5px;
  box-sizing: border-box;
  box-shadow: 0 2px $mainColor;
  position: relative;

  &__level {
    position: absolute;
    left: -23px;
    top: -3px;
    background-color: #ff7788;
    border: 1px solid #f1f1f1;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #f1f1f1;
    font-size: 11px;
    white-space: nowrap;

    p {
      line-height: 1;
      margin-top: -3px;
      color: #ff7788;
      text-shadow: -1px -1px #fffdfe, 1px 1px #fffdfe, 0 1px #fffdfe, 1px 0 #fffdfe;
    }
  }

  i {
    display: block;
    flex: 1;
    height: 3px;
    margin: 1px;
    background-color: #e3dddd;
    border-radius: 2px;
    transition: all 0.3s linear;

    &.get {
      background-color: #ff7788;
    }
  }

  &--2row {
    display: block;

    .row {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--txt {
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    margin-top: -7px;
    display: block;
    white-space: nowrap;
  }

  &--max {
    background-color: #ff7788;
    color: #f1f1f1;
  }

  &--full {
    background-color: #fdb43b;
    color: #ffedd0;
  }
}

.cpt-list {
  padding: 5px 8px;
  font-size: 15px;

  li .cpt-pokemon:not(:last-child) {
    margin-right: 3px;
  }

  .desc {
    font-size: 14px;
    color: #666;
    padding-left: 5px;
  }
}

.sptime {
  color: $primaryColor;
  font-size: 16px;
}

.cpt-skill {
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  height: 24px;
  padding: 0 5px;

  &--1 {
    color: #563426;
    background: linear-gradient(to bottom, #fcfbfc 0%, #f6f6f6 100%);
    box-shadow: 0 0 1px #dcdcdc inset, 0 1px #ededed;
    border: 1px solid #b3b3b3;
  }

  &--2 {
    color: #243a4c;
    background: linear-gradient(to bottom, #d5eefc 0%, #ceebfc 100%);
    box-shadow: 0 0 1px #9bd9fc inset, 0 1px #ededed;
    border: 1px solid #2266c7;
  }

  &--3 {
    color: #6a3600;
    background: linear-gradient(to bottom, #fedf85 0%, #fbe764 100%);
    box-shadow: 0 1px #fff5e6 inset, 0 1px #e9f1f4;
    border: 1px solid #d9903b;
  }
}


.nature-up {
  color: #c02c38
}

.nature-down {
  color: $navColor
}

.cpt-iv {
  font-size: 14px;
  line-height: 1.4;

  h4 {
    background-color: #20cd61;
    color: #e6fdee;
    margin-bottom: 5px;
    margin-left: 12px;
    position: relative;
    line-height: 24px;
    padding-left: 3px;
    font-size: 13px;

    &:before {
      content: '';
      position: absolute;
      left: -12px;
      top: 0;
      width: 6px;
      height: 100%;
      background-color: #20cd61;
    }
  }

  .main-skill {
    background: linear-gradient(to right, #fff0bf 0%, #f0ab35 100%);
    border: 1px solid #b69b70;
    border-radius: 5px;
    box-shadow: 0 1px #e9f1f4;
    text-align: center;
    padding: 3px;
    color: #454545;
    margin-bottom: 5px;

    &__inner {
      background-color: #fdfdfd;
      padding: 3px 0;
      border-radius: 3px;
      border: 1px solid #c7a85c;
    }
  }

  .level {
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    margin-right: 5px;
    width: 40px;
    text-align: right;
  }

  .shiny {
    background: linear-gradient(45deg, rgba(#fceabb, 50%) 0%, rgba(#fccd4d, 50%) 50%, rgba(#f8b500, 50%) 51%, rgba(#fbdf93, 50%) 100%);
    padding: 3px;
    border-radius: 6px;
    color: #d1813a;
    font-size: 16px;
  }

  .cpt-skill {
    position: relative;
  }

  .svg-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    margin: -6px;
    width: 12px;
    height: 12px;
  }

  .cpt-food {
    width: 86px;
    margin: 0 auto 5px;
    display: block;
  }

  .berry {
    text-align: center;
  }


  .cpt-skill {
    text-align: center;
    width: 120px;
  }
}

.vigour {
  font-size: 18px;

  &,
  &.el-select-dropdown__item {
    color: #ed556a;
  }

  &.el-select-dropdown__item {
    font-size: 16px;
  }
}

.spscore {
  color: $dialogMainColor;
  font-size: 18px;

  &__extra {
    font-size: 12px;
  }
}

.cpt-pokemon {
  display: inline-block;
  vertical-align: top;
  width: 56px;
  min-height: 56px + 24px + 3px;
  padding: 2px;
  // background-color: rgba($color: #f1f1f1, $alpha: .7);
  text-align: center;
  // border-radius: 5px;
  // box-shadow: 0 0 2px #ccc;
  font-size: 12px;
  line-height: 1.1;
  color: #5f5f5f;

  img {
    width: 100%;
    height: 100%;
  }

  &__pic {
    width: 100%;
    height: 56px;
    margin-bottom: 3px;
  }

  &__name {
    height: 24px;
    line-height: 12px;
    color: #333;
    white-space: normal;

    .sptime {
      font-size: 12px;
      font-weight: bold;
    }
  }

  &__friendship {
    color: #f54445;
    line-height: 16px;

    .svg-icon {
      vertical-align: top;
    }
  }

  &.shiny {
    .cpt-pokemon__name {
      color: $dialogMainColor
    }
  }

  &__skill {
    height: 24px;
    line-height: 12px;
    color: darken($ptSkill, 20%);
    white-space: normal;
  }

  &__foodper {
    color: darken($ptFood, 20%);
  }

  &__skillper {
    color: darken($ptSkill, 20%);
  }

  &__poketype {
    &1 {
      color: $ptBerry
    }

    &2 {
      color: $ptFood
    }

    &3 {
      color: $ptSkill
    }
  }

  .berry {
    margin-bottom: 2px;
    border-color: #e6e6e6;
    padding: 0 2px;

    &--hl {
      color: $primaryColor;
      background: linear-gradient(45deg, rgba(#fceabb, 50%) 0%, rgba(#fccd4d, 50%) 50%, rgba(#f8b500, 50%) 51%, rgba(#fbdf93, 50%) 100%);
    }
  }

  &__hshm {
    white-space: nowrap;
    width: 80px;
    text-align: center;
    margin-left: -5px;
    transform: scale(0.88);
    transform-origin: 0 center;
    color: $primaryColor;
    opacity: .8;
  }

  &--l {
    width: 62px;

    .cpt-pokemon__pic {
      height: 62px;
    }
  }

  .cpt-food {
    margin-bottom: 3px;
  }

  .i-sleeptype {
    margin-bottom: 3px;
  }
}

.cpt-pagination {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .el-pagination {
    --el-pagination-bg-color: rgba(255, 255, 255, .5);
  }
}

.mod-process {
  display: inline-block;
  vertical-align: middle;
  border: 4px solid #d1d1d1;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  text-align: center;
  line-height: 28px;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  background-color: rgba($color: #fff, $alpha: .8);

  &__info {
    position: relative;
    z-index: 4;
  }

  &__val {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: rgba($color: #9df8ff, $alpha: .9);
    transform: translateY(100%);
    transition: all 0.5s linear;
  }
}

.cpt-food {
  border: 1px solid #b4b4b4;
  border-radius: 5px;

  &--noborder {
    border: 0;
    border-radius: 0;

    .el-radio-button--small .el-radio-button__inner {
      padding: 2px 3px;
    }

    &+.cpt-food--noborder {
      margin-left: 6px;
    }
  }

  &,
  &__item {
    display: inline-block;
    vertical-align: middle;
  }

  &__item {
    width: 26px;
    text-align: center;
    font-size: 12px;
    position: relative;
  }

  img {
    width: 100%;
    height: 26px
  }

  &__count {
    position: absolute;
    right: -2px;
    bottom: -2px;
    background-color: rgba($color: #fff, $alpha: .8);
    border: 1px solid #ccc;
    color: #349963;
    min-width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    transform: scale(.9);
    white-space: nowrap;
  }

  &--s {
    .cpt-food__item {
      width: 20px;
    }

    img {
      height: 20px;
    }
  }

  &--energy {
    .cpt-food__item {
      width: 20px;
      margin: 0 3px;
    }
  }
}

.food-list {
  li {
    padding: 3px 0;
  }

  li:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  li:nth-child(2n) {
    background-color: rgba($color: $evenColor, $alpha: .1);
  }

  .cpt-food+.cpt-food {
    margin-left: 5px;
  }

  .all-food {
    .cpt-food__item {
      opacity: .3;

      &.cur {
        opacity: 1;
      }
    }
  }
}

.cpt-foodmenu {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  padding: 3px 0 0 3px;
  box-sizing: border-box;

  &-scroll {
    .cpt-foodmenu {
      margin-right: 3px;
      margin-bottom: 3px;
    }
  }

  &__name {
    font-size: 12px;
    white-space: normal;
    line-height: 1.1;
    min-height: 28px;
  }

  &__bs {
    font-size: 12px;
    color: #444;
  }

  &__bg {
    position: absolute;
    width: 80px;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .3;
  }

  .cpt-food {
    border: none;
    transform: scale(.7);
    margin: -12px 0 -8px -8px;
  }

  .icon {
    width: 16px;
    height: 16px;
  }

  &--1 {
    background-color: rgba($color: $ptBerry, $alpha: .2);

    .cpt-foodmenu__name {
      color: darken($color: $ptBerry, $amount: 25%)
    }
  }

  &--2 {
    background-color: rgba($color: $ptFood, $alpha: .2);

    .cpt-foodmenu__name {
      color: darken($color: $ptFood, $amount: 25%)
    }
  }

  &--3 {
    background-color: rgba($color: $ptSkill, $alpha: .2);

    .cpt-foodmenu__name {
      color: darken($color: $ptSkill, $amount: 25%)
    }
  }
}

.pokedex-list {
  h3 {
    padding: 2px 8px;
  }

  h4 {
    padding: 0 8px;
  }

  &__item {
    padding: 5px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }

    &:nth-child(2n) {
      background-color: rgba($color: $evenColor, $alpha: .1);
    }
  }

  .cpt-foodmenu-scroll {
    padding-left: 8px;
  }
}

.helpprocess {
  width: 100%;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px * 2;
  margin-left: -60px;

  &__title {
    display: inline-block;
    vertical-align: middle;
    background-color: $primaryColor;
    border-radius: 3px;
    color: #fff;
    padding: 2px;
    transform: scale(0.8);
    width: auto;
    margin-left: -10px;
    margin-top: -3px;
    font-size: 10px;
  }

  &__tag {
    position: absolute;
    width: 58px;
    // margin-left: -16px;
    line-height: 1.1;
    border-left: 1px solid $primaryColor;
    font-size: 11px;
    bottom: 40px;

    &.up {
      top: auto;
      bottom: 0;

      .helpprocess__title {
        background-color: #349963;
      }
    }

    &.down {
      bottom: auto;
      top: 0;

      .helpprocess__title {
        background-color: #ed556a;
      }
    }

    &:nth-child(4) {
      border-left-color: $mainColor;
      top: auto;
      bottom: 40px;

      .helpprocess__title {
        background-color: $mainColor;
      }

      .helpprocess__value {
        color: $mainColor;
      }
    }

    &.cur {
      border-left-color: $ptFood;

      .helpprocess__title {
        background-color: $ptFood;
      }

      .helpprocess__value {
        color: $ptFood;
        font-weight: bold;
      }
    }
  }

  &__inner {
    border: 1px solid lighten($ptFood, 20%);
    display: block;
    height: 12px;
    border-radius: 12px;

    i {
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #fefcea 0%, $ptFood 100%);
      border-radius: 12px;
      transition: all 0.3s ease-in-out;
    }
  }
}

.has-loading {
  position: relative;

  .cpt-loading {
    opacity: 1;
  }
}

.cpt-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($color: #000, $alpha: .7);
  color: #f1f1f1;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s linear;
}

.svg-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;

  &--small {
    width: 12px;
    height: 12px;
  }
}

.el-button {
  .svg-icon {
    margin: 0 1px;
    transition: all 0.3s linear;
    width: 18px;
    height: 18px;
    margin-top: -2px;
  }
  .svg-icon--small {
    width: 12px;
    height: 12px;
  }
}

.el-radio-button {
  .svg-icon {
    margin: 0 1px;
    transition: all 0.3s linear;
    width: 18px;
    height: 18px;
    margin-bottom: -4px;
    margin-top: -4px;
  }
}

h3 {
  .svg-icon {
    margin: 0 1px;
    width: 20px;
    height: 20px;
  }
}

.btn--show {
  .svg-icon {
    transform: rotate(-180deg);
  }
}

.i {
  display: inline-block;
  vertical-align: middle;

  &-loading {
    width: 18px;
    height: 18px;
  }

  &-rank {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(45deg, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    text-align: center;
    font-size: 12px;

    &--1 {
      background: linear-gradient(45deg, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
    }

    &--2 {
      background: linear-gradient(45deg, #d2dfed 0%, #c8d7eb 26%, #bed0ea 51%, #a6c0e3 51%, #afc7e8 62%, #bad0ef 75%, #99b5db 88%, #799bc8 100%);
    }

    &--3 {
      background: linear-gradient(45deg, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
    }

    &--ipt {
      background: linear-gradient(45deg, lighten(#ed556a, 10%) 0%, #ed556a 50%, darken(#ed556a, 15%) 51%, lighten(#ed556a, 15%) 100%);
    }
  }
}

.poke-tb {
  line-height: 1.5;

  &--xscorll {
    white-space: nowrap;
    overflow-x: auto;
  }

  &--4000 {
    .cpt-avatar {
      line-height: 1.3;
      margin: 0 3px;

      .icon {
        width: 14px;
        height: 14px;
      }
    }
  }

  &__col {
    width: percentage($number: 1 / 3);
    display: inline-block;
    vertical-align: top;
  }

  .extra-desc {
    font-size: 12px;
    border-top: 1px solid #ededed;
    padding-top: 5px;
    width: 66px;
    margin: 0 auto;
    min-height: 36px;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ededed;
    box-shadow: 1px 1px 1px #d1d1d1;
    border-radius: 6px;
    padding: 1px;
    margin: 2px;
    text-align: center;

    &--hasclose {
      position: relative;
    }

    &.default {
      background-color: rgba($color: #c3c3c3, $alpha: .25);
    }

    &.contrast {
      background-color: rgba($color: $ptSkill, $alpha: .1);
    }

    &.cur {
      background-color: rgba($color: orange, $alpha: .1);
    }

    &.shiny {
      background: linear-gradient(45deg, rgba(#fceabb, 50%) 0%, rgba(#fccd4d, 50%) 50%, rgba(#f8b500, 50%) 51%, rgba(#fbdf93, 50%) 100%);
    }

    .cpt-select-list {
      &__item {
        display: block;
        font-size: 12px;
        width: 66px;
        border: none;
        margin: 0 0 1px;
        cursor: auto;
        white-space: nowrap;

        &.cur .cpt-select-list__name {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      &__bg {
        bottom: 0;
        width: 150%;
      }

      .icon {
        width: 16px;
        height: 16px;
      }
    }

    .i-close {
      position: absolute;
      right: 2px;
      top: 2px;
      z-index: 10;
      width: 16px;
      height: 16px;
      background-color: rgba($color: #fff, $alpha: .5);
      opacity: .5;

      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }

  &__energy {
    color: $primaryColor;

    .sptime {
      min-height: 24px;
    }

    .cpt-skill {
      margin-top: 2px;
    }

    .xs {
      font-size: 11px;
    }

    .res {
      font-size: 14px;
    }

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}

.sleeplist {
  h4 {
    padding-left: 6px;
    padding-top: 4px;
  }

  .cpt-pokemon {
    min-height: auto;
  }

  .cpt-pokemon__pic {
    height: 42px;
    width: 42px;
    margin-left: auto;
    margin-right: auto;
  }

  .extra-desc {
    .cpt-pokemon__name {
      font-size: 13px;
      color: #8b8b8b;
      line-height: 1;
    }

    .sptime {
      font-size: 14px;

      &.cpt-pokemon__name {
        color: $primaryColor;
        font-size: 15px;
      }
    }
  }

  .poke-tb__item {
    &:nth-child(2n) {
      background-color: rgba($color: $evenColor, $alpha: .1);
    }

    &.cur {
      &:nth-child(2n) {
        background-color: rgba($color: orange, $alpha: .1);
      }
    }
  }

  .star {
    font-size: 16px;
    color: $navColor
  }

  &__sub-item {
    display: inline-block;
    vertical-align: top;
    width: 66px;
  }
}

.get-shiny {
  white-space: nowrap;
  overflow-x: auto;
  border-radius: 10px;
  padding: 3px;
  border: 1px dashed #d1d1d1;
  margin: 3px 0;

  &__item {
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
    margin-right: 5px;

    .cpt-pokemon {
      margin: 0 auto;
      display: block;
    }

    .cpt-iv {
      transform: scale(0.9);
      margin: -20px -5px;
    }

    &:not(:last-child) {
      border-right: 1px dashed #d1d1d1;
    }
  }
}

.map-pokemons {
  overflow-x: auto;
  &__item {
    border: 1px solid #d1d1d1;
  }
  table {
    width: 1280px
  }
}

.catchpoke-list {
  overflow-y: auto;
  max-height: 278px;
  border-radius: 10px;
  padding: 3px;
  border: 1px dashed #d1d1d1;
  margin: 3px 0;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 60px;
    text-align: center;
  }

  .cpt-pokemon__pic {
    width: 60px;
    height: 55px;
  }
}

.lottery-map {
  width: 638px * 1.25;
  height: 383px * 1.25;
  position: relative;
  border: 1px dashed #d1d1d1;
  // box-shadow: 0 2px $mainColor;
  margin-top: 5px;
  overflow: hidden;

  &__pokeball {
    margin-top: -3px;
    white-space: nowrap;

    img {
      width: 36px;
      margin-bottom: 3px;
      margin-top: -15px;
    }

    &-info {
      position: relative;
      z-index: 4;
    }

    &-name {
      font-size: 12px;
    }

    &-item {
      display: inline-block;
      vertical-align: bottom;
      width: 100px;
      cursor: pointer;
      box-sizing: border-box;
      padding: 3px 0;
      background: #1d1d27;
      position: relative;
      color: #f1f1f1;
      font-size: 13px;
      text-align: center;
      line-height: 1.2;

      &.disabled {
        background-color: #dcdcdc;
        color: #555;
        cursor: auto;

        img {
          filter: grayscale(1);
        }
      }

      &:before {
        content: "";
        display: none;
        position: absolute;
        left: 0;
        top: -20px;
        width: 100%;
        height: 40px;
        border-radius: 50% / 50%;
        background: darken(#ffb457, 10%);
        opacity: 0;
        transform: translateY(40px);
        transition: 0.3s linear both;
      }

      &.use {
        background-color: #ffb457;
        color: #333;
        font-weight: bold;
        background: linear-gradient(to bottom, darken(#ffb457, 10%) 0%, #ffb457 100%);
        z-index: 2;

        &:before {
          display: block;
          opacity: 1;
          transform: translateY(0);
        }
      }

      &:not(:last-child) {
        border-right: 1px dashed #d1d1d1;
      }

      &:first-child {
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-bottom-right-radius: 5px;
      }
    }
  }

  &__bg {
    width: 100%;
    height: 100%
  }

  &-wrap {
    overflow-x: auto;
  }

  &__catch {
    position: relative;
    left: 50%;
    width: 86px;
    margin-left: (-86px / 2);
    z-index: 3;
  }

  &__eattips {
    position: absolute;
    top: -24px;
    text-align: center;
    font-weight: bold;
    width: 100%;

    // 贪吃
    &--1 {
      top: 12px;
      right: -12px;
      color: #ff7788;
      width: 36px;
      height: 24px;
      line-height: 24px;
      font-size: 11px;
      text-align: center;
      line-height: 1;

      img {
        animation: aniRotate 14s linear infinite;

        @keyframes aniRotate {
          0% {
            transform: rotate(0);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }

      p {
        text-shadow: -1px -1px #fffdfe, 1px 1px #fffdfe;
        margin-top: -10px;
        position: relative;
        z-index: 3;
      }

      img {
        width: 36px;
      }
    }
  }

  &__snorlax {
    width: (944px / 6);
    height: (776px / 6);
    background: url(../img/ui/snorlax.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -(766px / 6 / 2) 0 0 0 -(944px / 6 / 2);
    z-index: 3;
  }

  @keyframes aniFadeInTop {
    0% {
      opacity: 0;
      transform: translate(0, 10px) scale(0);
    }

    30% {
      transform: translate(0, 7px) scale(1);
    }

    100% {
      opacity: 1;
      transform: translate(0, 0)scale(1);
    }
  }

  &__item {
    position: absolute;
    z-index: 10;
    animation: aniFadeInTop 0.3s linear both;
    margin: -48px 0 0 -33px;
    transform-origin: center bottom;
    cursor: pointer;

    .cpt-pokemon {
      width: 70px;
      margin-left: -5px;
      margin-bottom: -10px;
      margin-top: -10px;

      .cpt-pokemon__pic {
        height: 70px;
        width: 100%;

        img {
          height: auto;
        }
      }
    }

    .cpt-pokemon__name {
      background-color: rgba($color: #f1f1f1, $alpha: .9);
      border-radius: 30px;
      font-size: 12px;
      text-align: center;
      width: 66px;
      box-shadow: 0 2px $mainColor;
      height: auto;
      min-height: 24px;
      text-shadow: 1px 1px #fff;
    }

    &--scalex1 {
      .cpt-pokemon__pic {
        transform: scaleX(-1);
      }
    }
  }
}

.spo-calc-list {
  margin-bottom: 10px;
  font-size: 14px;

  li {
    margin-bottom: 3px;
  }
}

.page-sleepcalc {
  .sleeplist-unlock .poke-tb .extra-desc {
    white-space: normal
  }

  .act-random {
    background-color: rgba($color: #abe8ae, $alpha: .1);
    border-radius: 6px;
    color: #1c4f00;
    border: 1px solid #4caf50;
    padding: 0 5px;
    margin-right: 6px;
    font-size: 13px;

    &__switch {
      display: inline-block;
      vertical-align: middle;
    }

    .el-switch {
      --el-switch-on-color: #ffaf00
    }
  }
}

.page-helpcalc {
  .cpt-select-list--berry {
    .cpt-select-list__item {
      width: 28px;
    }
  }

  .textarea--data {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .el-form-slider--bonus {
    max-width: 350px;
  }

  .el-checkbox-group--inline {
    display: inline-block;
    vertical-align: middle;

    .el-checkbox-button__inner {
      padding: 3px 6px;
    }

    .is-checked {
      --el-checkbox-button-checked-bg-color: #abe8ae;
      --el-checkbox-button-checked-border-color: #4caf50;

      .cpt-skill {
        box-shadow: none
      }
    }
  }

  .poke-tb .extra-desc {
    min-height: 17px;
  }

  .poke-tb--box {
    .extra-desc {
      min-height: 54px;
    }
  }

  .other-skill {
    width: 72.3px;
    margin: 0 auto;

    .cpt-skill {
      display: block;
      width: 85px;
      font-size: 12px;
      margin-bottom: 3px;
      transform: scale(.85);
      margin: 0 -8px;
      padding: 0;
    }
  }
}

.el-form-slider--bonus {
  background-color: rgba($color: #abe8ae, $alpha: .2);

  .el-slider__bar {
    --el-slider-main-bg-color: #abe8ae;
  }

  .el-slider__button {
    border-color: #4caf50
  }

  .el-slider__input {
    width: 100px;
  }
}

.page-candycalc {

  .el-form-item--half {
    width: 50%;
    padding-left: 16px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
    max-width: 350px;

    &-wrap {
      display: flex;
      width: 100%;
      padding-left: 75px;
      box-sizing: border-box;
    }

    .el-form-item__label {
      width: 100%;
      display: block;
      text-align: center;
      padding-right: 0;
    }

    .el-slider__runway {
      margin-bottom: 10px;

      &.show-input {
        margin-right: 12px;
      }
    }

    .el-slider {
      display: block;
      height: auto
    }
  }
}

// 多语言界面适配
@import "./_import.lang.scss";

.dialog-filter {
  font-size: 14px;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;

  .el-form-item {
    margin-bottom: 8px;
  }

  .el-form-item__label {
    line-height: 1.2;
    padding-top: 10px;
    height: auto;
    min-height: 32px;
    text-align: right;
  }

  .cpt-select-list__item{
    color: #d0d0d0;
    white-space: nowrap;
  }

  .cpt-select-list--berry {
    .cpt-select-list__item {
      width: 55px;
    }
  }

  .cpt-skill {
    text-shadow: none;
    font-weight: normal;
  }

  .i-sleeptype {
    text-shadow: none;
  }
}

.pokemon-food-calc {
  .all-food {
    .cpt-food__item {
      width: 28px * 2;

      img {
        height: 28px * 2;
      }
    }
    .cpt-food__count {
      font-size: 14px;
      position: static;
      width: 100%;
      border: none;
    }
    .extra {
      font-size: 12px;
      opacity: .7;
    }
  }
}

.typerank {
  h3 {
    padding: 3px 6px;
  }
  &__morebtn {
    padding: 8px;
    padding-right: 8px;
    margin-left: 6px;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    width: percentage($number: 1 / 6);
    box-sizing: border-box;
    border: 1px dashed rgba($color: $mainColor, $alpha: 20%);
    padding: 3px;
    .cpt-pokemon {
      min-height: auto;

      .cpt-food {
        margin-right: -10px;
      }
    }
    .cpt-pokemon__name {
      height: 14px;
    }
    .cpt-pokemon__pic {
      width: 28px;
      height: 28px;
      margin-left: auto;
      margin-right: auto;
    }
    .cpt-pokemon__foodper,
    .cpt-pokemon__name {
      white-space: nowrap;
    }
    .res {
      color: $primaryColor;
    }
  }
}

// 移动端适配
@media screen and (max-width: 660px) {
  .cpt-select-list__item {
    width: 89px;
    margin: 2px;
    font-size: 14px;

    .cpt-select-list__bg {
      bottom: 0;
    }
  }

  .typerank__item {
    width: percentage($number: 1 / 3);

    .cpt-pokemon {
      width: 54px;
    }

    .i-rank {
      display: block;
      margin: 0 auto;
    }
    .res {
      display: block;
    }
  }
  .typerank__foodres {
    max-width: 57px;
  }

  .m-dialog {
    &__bd {
      width: vw(676);
    }

    &__close {
      margin-left: vw(676 - 62);
    }
  }

  .main {
    .el-form-item {
      margin-bottom: 6px;

      &__content {
        line-height: 28px;
      }
    }

    .el-radio {
      height: 26px;
      &__label {
        padding-left: 6px;
      }
    }

    .el-form-item--half-wrap {
      padding-left: 0;
    }
  }

  .mobile-br {
    display: block;
  }

  .lottery-map__pokeball {
    margin-top: -12px;

    &-item {
      width: percentage($number: 1 / 5);
    }

    &-name {
      display: none;
    }
  }

  .first-page-nav .el-radio-button__inner {
    padding: 8px
  }

  .page-sleepcalc {
    .el-select-sleepstyle {
      width: 130px;
    }

    .el-radio-button--small .el-radio-button__inner {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  .page-candycalc {
    .cpt-avatar__pic {
      width: 16px;
      height: 16px
    }

    .el-radio-button--small .el-radio-button__inner {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  .dialog-support,
  .dialog-update,
  .dialog-filter {
    max-height: vw(850);
  }

  .cpt-foodmenu-scroll {
    height: 168px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .cpt-foodmenu {
      height: 77px;
      width: 113px;
      flex: 0 0 auto;
    }
  }

  .poke-tb--lottery {
    text-align: center;

    .poke-tb__item {
      transform: scale(0.8);
      margin: -21px -5px;
    }
  }

  .poke-tb--curmapberry {
    .poke-tb__item {
      transform: scale(0.85);
      margin: -9px -4px;
    }
  }

  .page-pokedex {
    .el-radio-button__inner {
      padding: 8px 6px;
    }
  }

  .page-helpcalc {
    .radiogroup--level .el-radio-button__inner {
      padding: 5px;
    }

    .el-btn-s {
      .el-button {
        padding-left: 6px;
        padding-right: 6px;
      }

      .el-button+.el-button {
        margin-left: 5px;
      }
    }
  }

  .pokedex-list {
    .poke-tb__col {
      width: 100%;
    }

    .poke-tb__sublist {
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}
// @import "_import.theme-dark.scss";