@import "./_import.reset.scss";
@import "./_import.mixin.scss";
@import "./_import.mod-nav.scss";
@import "./_import.mod-btn.scss";

body {
  line-height: 1.5;
  font-size: 16px;
  color: #333;
  background: #f1f1f1 url(../img/ui/bg.png);
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  transform: translateZ(0);
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}

.i {
  display: inline-block;
  vertical-align: middle;

  &-close {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(../img/ui/close.png) center center no-repeat;
    background-size: 80% 80%;
    border-radius: 100%;
    background-color: #fff;
  }
}

.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

h2 {
  font-size: 24px;
  padding-left: 16px;
  position: relative;
  color: $mainColor;
  margin-left: 5px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 6px;
    background: $mainColor
  }
}

h3 {
  font-size: 16px;
}

.page {
  &-item {
    display: none;

    &.cur {
      display: block;
    }
  }

  &-title {
    position: relative;

    h2 {
      line-height: 36px;
    }

    &__extra {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;

      .mc-time {
        white-space: nowrap;
        padding-right: 5px;
      }
    }
  }
}

.mod-tips {
  font-size: 12px;
  color: #9d9d9d;
  margin-top: 3px;
}

.mod-select-list {
  font-size: 14px;
  line-height: 1;

  &__item {
    display: inline-block;
    border: 1px solid #666;
    border-radius: 30px;
    width: 80px;
    margin: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    color: #666;

    &:hover,
    &:active {
      color: $mainColor;
    }

    &.cur {
      border-color: $mainColor;
      font-weight: bold;
      color: $mainColor;

      .mod-select-list__name {
        opacity: 1;
        background-color: rgba($color: #fff, $alpha: .2);
      }
    }
  }

  &__name {
    position: relative;
    z-index: 5;
    background-color: rgba($color: #000000, $alpha: .1);
    display: block;
    padding: 5px 0;
  }

  img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    left: 0;
    top: 0;
    opacity: .5;
  }
}

.score-list {
  padding: 5px 10px;
  font-size: 15px;
}

.sptime {
  color: $primaryColor;
  font-size: 16px;
}

.spscore {
  color: $dialogMainColor;
  font-size: 18px;
}

// 移动端适配
@media screen and (max-width: 660px) {
  .m-dialog {
    &__bd {
      width: vw(676);
    }

    &__close {
      margin-left: vw(676 - 62);
    }
  }
}