@import "./_import.reset.scss";
@import "./_import.mixin.scss";
@import "./_import.mod-nav.scss";
@import "./_import.mod-btn.scss";
@import "./_import.mod-select.scss";

body {
  line-height: 1.5;
  font-size: 16px;
  color: #333;
  background: #f1f1f1 url(../img/ui/bg.png);
}

// input[type=checkbox].el-checkbox-button__original {
//   position: absolute;
// }

.select-lang {
  position: absolute;
  right: 3px;
  top: 2px;
}

.page-inner {
  padding: 0 8px;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}

.mb3 {
  margin-bottom: 3px;
}
.mr3 {
  margin-right: 3px;
}

.i {
  display: inline-block;
  vertical-align: middle;

  &-close {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(../img/ui/close.png) center center no-repeat;
    background-size: 80% 80%;
    border-radius: 100%;
    background-color: #fff;
  }

  &-sleeptype {
    border-radius: 18px;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    font-size: 12px;

    &--1 {
      background-color: lighten(#ffec6f, 12%);
      color: lighten(#795516, 12%);
    }

    &--2 {
      background-color: lighten(#85fbff, 12%);
      color: lighten(#166a7c, 12%);
    }

    &--3 {
      background-color: lighten(#4488fb, 12%);
      color: #fff;
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

h2 {
  font-size: 24px;
  padding-left: 16px;
  position: relative;
  color: $mainColor;
  margin-left: 5px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 6px;
    background: $mainColor
  }

  .extra {
    font-size: 11px;
    font-weight: normal;
  }
}

h3,
h4 {
  .extra {
    color: $primaryColor;
    font-size: 14px;
  }
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.page {
  &-item {
    display: none;

    &.cur {
      display: block;
    }
  }

  &-title {
    position: relative;

    h2 {
      line-height: 36px;
    }

    &__extra {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }
  }
}

.mod-tips {
  font-size: 12px;
  color: #9d9d9d;
  margin-top: 3px;
  line-height: 1.5;

  em {
    font-size: 12px;
    text-decoration: underline;
    color: $primaryColor;
  }
}

.cpt-avatar {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.5px;
  font-size: 10px;
  text-align: center;
  color: lighten($color: $mainColor, $amount: 20%);

  &__pic {
    width: 24px;
    height: 24px;
    border: 1px solid lighten($color: $mainColor, $amount: 20%);
    border-radius: 100%;
    overflow: hidden;
  }
}

.cpt-select-list {
  font-size: 14px;
  line-height: 1;

  &__extra {
    font-size: 12px;
    opacity: .8;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #c3c3c3;
    border-radius: 30px;
    width: 110px;
    margin: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    color: #666;

    &:hover,
    &:active {
      color: $mainColor;
    }

    &.cur {
      border-color: #f1f1f1;
      font-weight: bold;
      color: $mainColor;

      .cpt-select-list__name {
        opacity: 1;
        color: #fff;
        text-shadow: 1px 1px #333;
        background-color: rgba($color: #000000, $alpha: .1);
      }

      img {
        opacity: 1;
      }
    }
  }

  &__name {
    position: relative;
    z-index: 5;
    background-color: rgba($color: #000000, $alpha: .2);
    display: block;
    padding: 4px 0 2px;
    transition: 0.3s linear all;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    left: 0;
    bottom: -10px;
    opacity: .5;
  }

  .berry {
    border: none;
    min-height: 20px;
    line-height: 20px;
  }

  &--berry {
    .cpt-select-list__item {
      width: 48px;
      font-size: 13px;
      border-radius: 16px;
    }
  }
}

.cpt-list {
  padding: 5px 8px;
  font-size: 15px;

  li .cpt-pokemon:not(:last-child) {
    margin-right: 3px;
  }

  .desc {
    font-size: 14px;
    color: #666;
    padding-left: 5px;
  }
}

.sptime {
  color: $primaryColor;
  font-size: 16px;
}

.cpt-skill {
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  height: 24px;
  padding: 0 5px;

  &--1 {
    color: #563426;
    background: linear-gradient(to bottom, #fcfbfc 0%, #f6f6f6 100%);
    box-shadow: 0 1px #dcdcdc inset, 0 1px #e9f1f4;
    border: 1px solid #b3b3b3;
  }

  &--2 {
    color: #243a4c;
    background: linear-gradient(to bottom, #d5eefc 0%, #ceebfc 100%);
    box-shadow: 0 1px #93caf0 inset, 0 1px #e9f1f4;
    border: 1px solid #5586b5;
  }

  &--3 {
    color: #6a3600;
    background: linear-gradient(to bottom, #fedf85 0%, #fbe764 100%);
    box-shadow: 0 1px #fff5e6 inset, 0 1px #e9f1f4;
    border: 1px solid #ca9c85;
  }
}

.cpt-iv {
  font-size: 14px;
  line-height: 1.4;

  h4 {
    background-color: #20cd61;
    color: #e6fdee;
    margin-bottom: 5px;
    margin-left: 12px;
    position: relative;
    line-height: 24px;
    padding-left: 3px;

    &:before {
      content: '';
      position: absolute;
      left: -12px;
      top: 0;
      width: 6px;
      height: 100%;
      background-color: #20cd61;
    }
  }

  .main-skill {
    background: linear-gradient(to right, #fff0bf 0%, #f0ab35 100%);
    border: 1px solid #b69b70;
    border-radius: 5px;
    box-shadow: 0 1px #e9f1f4;
    text-align: center;
    padding: 3px;
    color: #454545;
    margin-bottom: 5px;

    &__inner {
      background-color: #fdfdfd;
      padding: 3px 0;
      border-radius: 3px;
      border: 1px solid #c7a85c;
    }
  }

  .level {
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    margin-right: 5px;
    width: 40px;
    text-align: right;
  }

  .shiny {
    background: linear-gradient(45deg, rgba(#fceabb, 50%) 0%, rgba(#fccd4d, 50%) 50%, rgba(#f8b500, 50%) 51%, rgba(#fbdf93, 50%) 100%);
    padding: 3px;
    border-radius: 6px;
    color: #d1813a;
    font-size: 16px;
  }

  .cpt-skill {
    position: relative;
  }

  .svg-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    margin: -6px;
    width: 12px;
    height: 12px;
  }

  .cpt-food {
    width: 86px;
    margin: 0 auto 5px;
    display: block;
  }

  .berry {
    text-align: center;
  }

  .nature-up {
    color: #c02c38
  }

  .nature-down {
    color: $navColor
  }


  .cpt-skill {
    text-align: center;
    width: 120px;
  }
}

.vigour {

  &,
  .el-radio__label {
    color: #ed556a;
    font-size: 18px;
  }
}

.spscore {
  color: $dialogMainColor;
  font-size: 18px;

  &__extra {
    font-size: 12px;
  }
}

.cpt-pokemon {
  display: inline-block;
  vertical-align: top;
  width: 56px;
  min-height: 56px + 24px + 3px;
  padding: 2px;
  // background-color: rgba($color: #f1f1f1, $alpha: .7);
  text-align: center;
  // border-radius: 5px;
  // box-shadow: 0 0 2px #ccc;
  font-size: 12px;
  line-height: 1.1;
  color: #5f5f5f;

  img {
    width: 100%;
    height: 100%;
  }

  &__pic {
    width: 100%;
    height: 56px;
    margin-bottom: 3px;
  }

  &__name {
    height: 24px;
    line-height: 12px;
    color: #333;
    white-space: normal;

    .sptime {
      font-size: 12px;
      font-weight: bold;
    }
  }

  &.shiny {
    .cpt-pokemon__name {
      color: $dialogMainColor
    }
  }

  &__skill {
    height: 24px;
    line-height: 12px;
    color: darken($ptSkill, 20%);
    white-space: normal;
  }

  &__foodper {
    color: darken($ptFood, 20%);
  }

  &__skillper {
    color: darken($ptSkill, 20%);
  }

  &__poketype {
    &1 {
      color: $ptBerry
    }

    &2 {
      color: $ptFood
    }

    &3 {
      color: $ptSkill
    }
  }

  .berry {
    margin-bottom: 2px;
    border-color: #e6e6e6;
    padding: 0 2px;

    &--hl {
      color: $primaryColor;
      background: linear-gradient(45deg, rgba(#fceabb, 50%) 0%, rgba(#fccd4d, 50%) 50%, rgba(#f8b500, 50%) 51%, rgba(#fbdf93, 50%) 100%);
    }
  }

  &__hshm {
    white-space: nowrap;
    width: 80px;
    text-align: center;
    margin-left: -5px;
    transform: scale(0.88);
    transform-origin: 0 center;
    color: $primaryColor;
    opacity: .8;
  }

  &--l {
    width: 62px;

    .cpt-pokemon__pic {
      height: 62px;
    }
  }

  .cpt-food {
    margin-bottom: 3px;
  }

  .i-sleeptype {
    margin-bottom: 3px;
  }
}

.cpt-pagination {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .el-pagination {
    --el-pagination-bg-color: rgba(255, 255, 255, .5);
  }
}

.mod-process {
  display: inline-block;
  vertical-align: middle;
  border: 4px solid #d1d1d1;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  text-align: center;
  line-height: 28px;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  background-color: rgba($color: #fff, $alpha: .8);

  &__info {
    position: relative;
    z-index: 4;
  }

  &__val {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: rgba($color: #9df8ff, $alpha: .9);
    transform: translateY(100%);
    transition: all 0.5s linear;
  }
}

.cpt-food {
  border: 1px solid #b4b4b4;
  border-radius: 5px;

  &--noborder {
    border: 0;
    border-radius: 0;

    .el-radio-button--small .el-radio-button__inner {
      padding: 2px 3px;
    }

    &+.cpt-food--noborder {
      margin-left: 6px;
    }
  }

  &,
  &__item {
    display: inline-block;
    vertical-align: middle;
  }

  &__item {
    width: 28px;
    text-align: center;
    font-size: 12px;
    position: relative;
  }

  img {
    width: 100%;
    height: 28px
  }

  &__count {
    position: absolute;
    right: -2px;
    bottom: -2px;
    background-color: rgba($color: #fff, $alpha: .8);
    border: 1px solid #ccc;
    color: #349963;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    transform: scale(.9);
    white-space: nowrap;
  }

  &--s {
    .cpt-food__item {
      width: 20px;
    }

    img {
      height: 20px;
    }
  }
}

.food-list {
  li {
    padding: 3px 0;
  }

  li:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  li:nth-child(2n) {
    background-color: rgba($color: $evenColor, $alpha: .1);
  }

  .cpt-food+.cpt-food {
    margin-left: 5px;
  }

  .all-food {
    .cpt-food__item {
      opacity: .3;

      &.cur {
        opacity: 1;
      }
    }
  }
}

.cpt-foodmenu {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  padding: 3px 0 0 3px;
  box-sizing: border-box;

  &-scroll {
    .cpt-foodmenu {
      margin-right: 3px;
      margin-bottom: 3px;
    }
  }

  &__name {
    font-size: 12px;
    white-space: normal;
    line-height: 1.1;
    min-height: 28px;
  }

  &__bs {
    font-size: 12px;
    color: #444;
  }

  &__bg {
    position: absolute;
    width: 80px;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .3;
  }

  .cpt-food {
    border: none;
    transform: scale(.7);
    margin: -12px 0 -8px -8px;
  }

  .icon {
    width: 16px;
    height: 16px;
  }

  &--1 {
    background-color: rgba($color: $ptBerry, $alpha: .2);

    .cpt-foodmenu__name {
      color: darken($color: $ptBerry, $amount: 25%)
    }
  }

  &--2 {
    background-color: rgba($color: $ptFood, $alpha: .2);

    .cpt-foodmenu__name {
      color: darken($color: $ptFood, $amount: 25%)
    }
  }

  &--3 {
    background-color: rgba($color: $ptSkill, $alpha: .2);

    .cpt-foodmenu__name {
      color: darken($color: $ptSkill, $amount: 25%)
    }
  }
}

.pokedex-list {
  h3 {
    padding: 2px 8px;
  }

  h4 {
    padding: 0 8px;
  }

  &__item {
    padding: 5px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }

    &:nth-child(2n) {
      background-color: rgba($color: $evenColor, $alpha: .1);
    }
  }

  .cpt-foodmenu-scroll {
    padding-left: 8px;
  }
}

.helpprocess {
  width: 100%;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px * 2;
  margin-left: -60px;

  &__title {
    display: inline-block;
    vertical-align: middle;
    background-color: $primaryColor;
    border-radius: 3px;
    color: #fff;
    padding: 2px;
    transform: scale(0.8);
    width: auto;
    margin-left: -10px;
    margin-top: -3px;
    font-size: 10px;
  }

  &__tag {
    position: absolute;
    width: 58px;
    // margin-left: -16px;
    line-height: 1.1;
    border-left: 1px solid $primaryColor;
    font-size: 11px;
    bottom: 40px;

    &.up {
      top: auto;
      bottom: 0;

      .helpprocess__title {
        background-color: #349963;
      }
    }

    &.down {
      bottom: auto;
      top: 0;

      .helpprocess__title {
        background-color: #ed556a;
      }
    }

    &:nth-child(4) {
      border-left-color: $mainColor;
      top: auto;
      bottom: 40px;

      .helpprocess__title {
        background-color: $mainColor;
      }

      .helpprocess__value {
        color: $mainColor;
      }
    }

    &.cur {
      border-left-color: $ptFood;

      .helpprocess__title {
        background-color: $ptFood;
      }

      .helpprocess__value {
        color: $ptFood;
        font-weight: bold;
      }
    }
  }

  &__inner {
    border: 1px solid lighten($ptFood, 20%);
    display: block;
    height: 12px;
    border-radius: 12px;

    i {
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #fefcea 0%, $ptFood 100%);
      border-radius: 12px;
      transition: all 0.3s ease-in-out;
    }
  }
}

.has-loading {
  position: relative;

  .cpt-loading {
    opacity: 1;
  }
}

.cpt-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($color: #000, $alpha: .7);
  color: #f1f1f1;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s linear;
}

.svg-icon {
  width: 24px;
  height: 24px;
}

.i {
  display: inline-block;
  vertical-align: middle;

  &-loading {
    width: 18px;
    height: 18px;
  }

  &-rank {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(45deg, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    text-align: center;
    font-size: 12px;

    &--1 {
      background: linear-gradient(45deg, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
    }

    &--2 {
      background: linear-gradient(45deg, #d2dfed 0%, #c8d7eb 26%, #bed0ea 51%, #a6c0e3 51%, #afc7e8 62%, #bad0ef 75%, #99b5db 88%, #799bc8 100%);
    }

    &--3 {
      background: linear-gradient(45deg, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
    }
  }
}

.poke-tb {
  line-height: 1.5;

  &--xscorll {
    white-space: nowrap;
    overflow-x: auto;
  }

  &--4000 {
    .cpt-avatar {
      line-height: 1.3;
      margin: 0 3px;

      .icon {
        width: 14px;
        height: 14px;
      }
    }
  }

  &__col {
    width: percentage($number: 1 / 3);
    display: inline-block;
    vertical-align: top;
  }

  .extra-desc {
    font-size: 12px;
    border-top: 1px solid #ededed;
    padding-top: 5px;
    width: 66px;
    margin: 0 auto;
    min-height: 36px;

    .desc {
      background-color: #ed556a;
      color: #fff;
      border-radius: 3px;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ededed;
    box-shadow: 1px 1px 1px #d1d1d1;
    border-radius: 6px;
    padding: 1px;
    margin: 2px;
    text-align: center;

    &--hasclose {
      position: relative;
    }

    &.default {
      background-color: rgba($color: #c3c3c3, $alpha: .25);
    }

    &.contrast {
      background-color: rgba($color: $ptSkill, $alpha: .1);
    }

    &.cur {
      background-color: rgba($color: orange, $alpha: .1);
    }

    &.shiny {
      background: linear-gradient(45deg, rgba(#fceabb, 50%) 0%, rgba(#fccd4d, 50%) 50%, rgba(#f8b500, 50%) 51%, rgba(#fbdf93, 50%) 100%);
    }

    .cpt-select-list {
      &__item {
        display: block;
        font-size: 12px;
        width: 66px;
        border: none;
        margin: 0 0 1px;
        cursor: auto;
        white-space: nowrap;

        &.cur .cpt-select-list__name {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      &__bg {
        bottom: 0;
        width: 150%;
      }

      .icon {
        width: 16px;
        height: 16px;
      }
    }

    .i-close {
      position: absolute;
      right: 2px;
      top: 2px;
      z-index: 10;
      width: 16px;
      height: 16px;
      background-color: rgba($color: #fff, $alpha: .5);
      opacity: .5;

      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }

  &__energy {
    color: $primaryColor;

    .sptime {
      min-height: 24px;
    }

    .cpt-skill {
      margin-top: 2px;
    }

    .xs {
      font-size: 11px;
    }

    .res {
      font-size: 14px;
    }

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}

.sleeplist {
  h4 {
    padding-left: 6px;
    padding-top: 4px;
  }

  .cpt-pokemon {
    min-height: auto;
  }

  .cpt-pokemon__pic {
    height: 42px;
    width: 42px;
    margin-left: auto;
    margin-right: auto;
  }

  .extra-desc {
    .cpt-pokemon__name {
      font-size: 13px;
      color: #8b8b8b;
      line-height: 1;
    }

    .sptime {
      font-size: 14px;

      &.cpt-pokemon__name {
        color: $primaryColor;
        font-size: 15px;
      }
    }
  }

  .poke-tb__item {
    &:nth-child(2n) {
      background-color: rgba($color: $evenColor, $alpha: .1);
    }

    &.cur {
      &:nth-child(2n) {
        background-color: rgba($color: orange, $alpha: .1);
      }
    }
  }

  .star {
    font-size: 16px;
    color: $navColor
  }

  &__sub-item {
    display: inline-block;
    vertical-align: top;
    width: 66px;
  }
}

.get-shiny {
  white-space: nowrap;
  overflow-x: auto;
  border-radius: 10px;
  padding: 3px;
  border: 1px dashed #d1d1d1;
  margin: 3px 0;

  &__item {
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
    margin-right: 5px;

    .cpt-pokemon {
      margin: 0 auto;
      display: block;
    }

    .cpt-iv {
      transform: scale(0.9);
      margin: -20px -5px;
    }

    &:not(:last-child) {
      border-right: 1px dashed #d1d1d1;
    }
  }
}

.lottery-map {
  width: 638px;
  height: 300px;
  position: relative;
  border: 1px dashed #d1d1d1;
  box-shadow: 0 2px $mainColor;
  margin-top: 5px;
  overflow: hidden;

  &__bg {
    width: 100%;
    height: 100%
  }

  &-wrap {
    overflow-x: auto;
  }

  &__snorlax {
    width: (944px / 5);
    height: (776px / 5);
    background: url(../img/ui/snorlax.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -(766px / 5 / 2) 0 0 0  -(944px / 5 / 2);
    z-index: 3;
  }

  @keyframes aniFadeInTop {
    0% {
      opacity: 0;
      transform: translate(0, 10px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  &__item {
    position: absolute;
    border-radius: 100%;
    z-index: 10;
    animation: aniFadeInTop 0.3s linear both;
    margin: -85px 0 0 -33px;

    .cpt-pokemon {
      width: 70px;
      margin-left: -5px;
      margin-bottom: -10px;
      margin-top: -10px;
      .cpt-pokemon__pic {
        height: 70px;
        width: 100%;
      }
    }

    .cpt-pokemon__name {
      background-color: rgba($color: #f1f1f1, $alpha: .9);
      border-radius: 30px;
      font-size: 12px;
      text-align: center;
      width: 66px;
      box-shadow: 0 2px $mainColor;
      height: auto;
      min-height: 24px;
      text-shadow: 1px 1px #fff;
    }
    
    &--scalex1 {
      .cpt-pokemon__pic {
        transform: scaleX(-1);
      }
    }
  }
}
// 多语言界面适配
@import "./_import.lang.scss";

// 移动端适配
@media screen and (max-width: 660px) {

  .page-sleepcalc {
    .first-page-nav .el-radio-button__inner {
      padding: 8px
    }
    .el-select-sleepstyle {
      width: 130px;
    }
  }

  .dialog-support,
  .dialog-update {
    max-height: vw(860);
  }

  .cpt-foodmenu-scroll {
    height: 168px;
    overflow-x: auto;
    white-space: nowrap;

    &--singlerow {
      height: auto;
    }

    .cpt-foodmenu {
      height: 77px;
    }
  }

  .m-dialog {
    &__bd {
      width: vw(676);
    }

    &__close {
      margin-left: vw(676 - 62);
    }
  }

  .main {
    .el-form-item {
      margin-bottom: 8px;

      &__content {
        line-height: 28px;
      }
    }
  }

  .poke-tb--lottery {
    text-align: center;

    .poke-tb__item {
      transform: scale(0.8);
      margin: -21px -5px;
    }
  }

  .page-sleepcalc {
    .el-radio-button--small .el-radio-button__inner {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  .page-pokedex {
    .el-radio-button__inner {
      padding: 8px 6px;
    }
  }

  .page-helpcalc {
    .radiogroup--level .el-radio-button__inner {
      padding: 5px;
    }
  }

  .pokedex-list {
    .poke-tb__col {
      width: 100%;
    }

    .poke-tb__sublist {
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}